* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  background-color: rgb(219,239,244);
  color: rgb(16,44,73);
}

a {
  text-decoration: none;
}

li a {
  color: rgb(0,0,0);
}

p {
  font-size: 1.2em;
  padding: 20px 0;
  line-height: 30px;
}
/* INIZIO HEADER SUPERIORE */
.header_top {
  width: 100%;
  border-bottom: 1px solid rgb(0,0,0);
}
.nav_container,
.nav_container {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  font-size: 1.2em;
  position: relative;
}
.nav_left, .nav_right {
  display: inline-block;
  width: 50%;
}
.nav_right {
  text-align: right;
  position: absolute;
  right: 0;
}
ul li{
  display: inline;
  height: 100%;
  line-height: 80px;
  padding: 5px;
}

.contact {
  border-left: 1px solid rgb(0,0,0);
  padding-left: 10px;
}

.fa-angle-down {
  margin-right: 5px;
}
.fa-search {
  color: rgb(0,178,204);
}
/* FINE HEADER SUPERIORE */

/* BUTTONS */
.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
      /* bottone arancione con testo bianco */
.btn_orange {
  background-color: rgb(255,136,71);
}
.btn_white_text {
  color: rgb(255,255,255);
}
      /* bottone bianco con testo arancione */
.btn_orange_white {
  border: 1px solid rgb(255,136,71);
  background-color: rgb(255,255,255);
}
.btn_orange_text {
  color: rgb(255,136,71);
}
/* FINE BUTTONS */

/* INIZIO HEADER INFERIORE */
.header_bottom {
  width: 100%;
  background-color: rgb(255,255,255);
}

.logo_hubspot_img {
  height: 80px;
  line-height: 80px;
  padding-top: 5px;
  display: inline-block;
}
/* FINE HEADER INFERIORE */

/* JUMBOTRON */
.jumbotron {
  width: 100%;
  height: 738px;
  background-image: url('../img/jumbotron.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.jumbotron_text {
  width: 80%;
  margin: auto;
}
.mw500 {
  max-width: 500px;
}
.jumbotron_text h1 {
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron_text p {
  margin-bottom: 40px;
}
.jumbotron_text .btn_orange,
/* stessa regola per bottone terza sezione */
.third_bottom_left .btn_orange {
  padding: 20px 30px;
  border-radius: 10px;
}
#little_jumbotron_text {
  margin-top: 60px;
  font-size: 1em;
  display: block;
}
/* FINE JUMBOTRON */

/* INIZIO MAIN */
main {
  width: 100%;
}
.margin_w80 {
  width: 80%;
  margin: auto;
}

/* PRIMA SECTION */
.first_section {
  width: 100%;
  height: 1500px;
  background-image: url('../img/cube.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
}
.first_section h2 {
  font-size: 2em;
  padding-top: 300px;
}
.first_section p {
  max-width: 80%;
  margin: auto;
}

.box {
  padding: 20px;
  border: 1px solid rgba(152,172,191,0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(152,172,191,0.2);
  background-color: white;
}
.box h3 {
  font-size: 1.5em;
}

.horizontal_box {
  width: 100%;
  height: 350px;
  margin: 20px 0;
}
.horizontal_left {
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
}
.horizontal_right {
  width: 70%;
  height: 100%;
  float: left;
  text-align: left;
  padding: 30px 50px;
}

#crm_illustration {
  content: url('../img/CRM-Illustration.svg');
  width: 60%;
  margin: 20px auto 60px;
}
.horizontal_left > .btn {
  display: inline;
  padding: 20px 30px;
}
.horizontal_right p {
  display: inline-block;
  text-align: left;
}

/* INIZIO POPOLAR FEATURE CON HR */
.popolar_container {
  line-height: 30px;
}
.popolar {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
  vertical-align: middle;
}
.popolar_hr {
  height: 0;
  border: 0;
  border-top: 3px solid rgb(176,179,182);
  vertical-align: middle;
  display: inline-block;
  margin: auto;
}

.horizontal_popolar {
  margin-right: 40px;
}
.horizontal_popolar_hr {
  width: 500px;
}
.vertical_popolar {
  padding: 30px 0;
}
.vertical_popolar_hr {
  width: 250px;
}
/* FINE POPOLAR FEATURE CON HR */

.fa-check-circle {
  color: rgb(255,136,71);
  margin-right: 10px;
}
li > span {
  margin-right: 20px;
}

.vertical_box {
  width: 30%;
  height: 650px;
  float: left;
}
.vertical_left_box,
.vertical_middle_box {
  margin-right: 5%;
}
.vertical_top {
  width: 100%;
  height: 60%;
}
.vertical_top p {
  text-align: center;
}
.vertical_bottom {
  width: 100%;
  height: 40%;
}
.vertical_list {
  margin-bottom: 40px;
}
.vertical_list li {
  display: block;
  line-height: 10px;
  text-align: left;
  padding-left: 40px;
}
.vertical_bottom > .btn {
  display: inline;
  padding: 20px 30px;
}

/* IMMAGINI BOX */
#marketing_hub {
  content: url('../img/Marketing-Hub-Free.svg');
  width: 40%;
  margin: 0 auto 20px;
}
#sales_hub {
  content: url('../img/Sales-Professional-Illustration.svg');
  width: 50%;
  margin: 0 auto 20px;
}
#service_hub {
  content: url('../img/Service-Hub-Illustration.svg');
  width: 36%;
  margin: 0 auto 20px;
}
/* FINE IMMAGINI BOX */

/* FINE PRIMA SECTION */

/* SECONDA SECTION */
.second_section {
  width: 100%;
  height: 620px;
  background: linear-gradient(90deg, #00a5bd, #00b1b1, #00bda5);
  color: rgb(255,255,255);
  padding: 40px 220px;
  text-align: center;
}
.second_section_text h2 {
  font-size: 2em;
}
.second_section_text {
  height: 180px;
}
.second_section .row {
  width: 100%;
  height: 380px;
}
.rows > .first_row,
.rows > .second_row {
  height: 190px;
}
.rows > .first_row {
  border-bottom: 1px solid rgb(255,255,255);
}

.first_row .element,
.second_row .element {
  width: 25%;
  height: 100%;
  padding: 10px;
  float: left;
}
.first_row .element:not(:last-child),
.second_row .element:not(:last-child) {
  border-right: 1px solid rgb(255,255,255);
}
.element img {
  padding: 10px 0;
}
.element span,
/* stessa regola per span terza sezione */
.third_top_left span {
  font-size: 3em;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}
#last_element_span {
  margin-top: 20px;
}
.element div {
  margin-top: 20px;
}
/* FINE SECONDA SECTION */

/* TERZA SECTION */
.third_section {
  width: 100%;
  height: 700px;
  background-color: rgb(255,255,255);
}
.third_section .third_top {
  width: 70%;
  margin: auto;
  height: 250px;
}
.third_top_left {
  width: 30%;
  height: 100%;
  padding: 50px;
  float: left;
}
.third_top_right {
  width: 70%;
  height: 100%;
  padding: 50px;
  float: left;
}
.partners_block div {
  display: inline-block;
  max-width: 155px;
  padding: 10px;
}
#atlassian {
  content: url('../img/atlassian.png');
}
#doordash {
  content: url('../img/doordash.png');
}
#g2crowd {
  content: url('../img/g2crowd.png');
}
#purple {
  content: url('../img/purple.png');
}
#subaru {
  content: url('../img/subaru.png');
}
#wistia {
  content: url('../img/wistia.png');
}
#classpass {
  content: url('../img/classpass.png');
}
#VMware {
  content: url('../img/VMware.png');
}

.third_bottom_left {
  width: 45%;
  height: 100%;
  padding: 60px 40px;
  float: left;
}
.third_bottom_left > h2 {
  font-size: 2em;
  text-transform: capitalize;
}
.third_bottom_left > p {
  margin-bottom: 40px;
}
.third_bottom_left > .btn_orange {
}
.third_bottom_left p:last-of-type {
  font-size: 1em;
  margin-top: 40px;
}

.third_section .third_bottom {
  height: 450px;
}
.third_bottom_right {
  width: 55%;
  float: left;
}
.third_bottom_right .woman {
  content: url('../img/woman.webp');
  width: 50%;
  margin: 20px auto;
}
/* FINE TERZA SECTION */

/* FINE MAIN */

/* FOOTER */
footer {
  width: 100%;
  height: 600px;
  background-color: rgb(51,71,91);
  text-transform: capitalize;
}
footer .footer_main_container,
.liste_footer a,
.lingue a,
.legal_docs a {
  color: rgb(176,176,177);
}

.footer_main_container .liste_footer {
  width: 100%;
  height: 300px;
  padding: 20px 0;
}
.liste_footer .list_title {
  color: rgb(250,250,250);
  margin-bottom: 10px;
}
.liste_footer li {
  display: block;
  line-height: normal;
}
#first_list,
#second_list,
#third_list,
#fourth_list {
  width: 25%;
  float: left;
}
/* BUTTON FOOTER */
li > .footer_btn {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(176,176,177);
}
.footer_text_btn {
  color: rgb(51,71,91);
  text-align: center;
}
/* FINE BUTTON FOOTER */

#socials li {
  display: inline;
  margin-right: 5px;
}

.lingue {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  text-align: center;
  line-height: 50px;
  vertical-align: 50px;
  border-bottom: 1px solid rgb(176,176,177);
}
.lingue span {
  padding: 0 10px;
}

.credits {
  width: 100%;
  height: 150px;
  margin: 30px 0;
}
.credits .logo_hubspot_white {
  content: url('https://www.hubspot.com/hubfs/HubSpot_Logos/HSLogo_gray.svg');
  display: inline-block;
}
.credits .legal_docs {
  display: inline-block;
  float: right;
}
