* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  background-color: rgb(219,239,244);
  color: rgb(16,44,73);
}

a {
  text-decoration: none;
}

li a {
  color: rgb(0,0,0);
}

p {
  font-size: 1.2em;
  padding: 20px 0;
  line-height: 30px;
}
/* INIZIO HEADER SUPERIORE */
.header_top {
  width: 100%;
  border-bottom: 1px solid rgb(0,0,0);
}
.nav_container,
.nav_container {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  font-size: 1.2em;
  position: relative;
}
.nav_left, .nav_right {
  display: inline-block;
  width: 50%;
}
.nav_right {
  text-align: right;
  position: absolute;
  right: 0;
}
ul li{
  display: inline;
  height: 100%;
  line-height: 80px;
  padding: 5px;
}

.contact {
  border-left: 1px solid rgb(0,0,0);
  padding-left: 10px;
}

.fa-angle-down {
  margin-right: 5px;
}
.fa-search {
  color: rgb(0,178,204);
}
/* FINE HEADER SUPERIORE */

/* BUTTONS */
.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
      /* bottone arancione con testo bianco */
.btn_orange {
  background-color: rgb(255,136,71);
}
.btn_white_text {
  color: rgb(255,255,255);
}
      /* bottone bianco con testo arancione */
.btn_orange_white {
  border: 1px solid rgb(255,136,71);
  background-color: rgb(255,255,255);
}
.btn_orange_text {
  color: rgb(255,136,71);
}
/* FINE BUTTONS */

/* INIZIO HEADER INFERIORE */
.header_bottom {
  width: 100%;
  background-color: rgb(255,255,255);
}

.logo_hubspot_img {
  height: 80px;
  line-height: 80px;
  padding-top: 5px;
  display: inline-block;
}
/* FINE HEADER INFERIORE */

/* JUMBOTRON */
.jumbotron {
  width: 100%;
  height: 738px;
  background-image: url('../img/jumbotron.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.jumbotron_text {
  width: 80%;
  margin: auto;
}
.mw500 {
  max-width: 500px;
}
.jumbotron_text h1 {
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron_text p {
  margin-bottom: 40px;
}
.jumbotron_text .btn_orange {
  /* margin: 40px 0; */
  padding: 20px 30px;
  border-radius: 10px;
}
#little_jumbotron_text {
  margin-top: 60px;
  font-size: 1em;
  display: block;
}
/* FINE JUMBOTRON */

/* INIZIO MAIN */
main {
  width: 100%;
}
.main_section {
  width: 80%;
  margin: auto;
}
.first_section {
  width: 100%;
  background-image: url('../img/cube.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  text-align: center;
}
.first_section h2 {
  font-size: 2em;
  padding-top: 300px;
}
.first_section p {
  max-width: 70%;
  margin: auto;
}

.box {
  padding: 20px;
  border: 1px solid rgba(152,172,191,0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(152,172,191,0.2);
}
.horizontal_box {
  width: 100%;
  height: 350px;
  margin: 20px 0;
}
.vertical_box {
  width: 30%;
  height: 650px;
  margin-bottom: 20px;
  float: left;
}
.vertical_left_box,
.vertical_middle_box {
  margin-right: 5%;
}


/* da cancellare */
.jumbotron {
  background-color: rgb(254,241,238);
}

.first_section {
  height: 900px;
}

.box {
  background-color: gold;
}

/* sfondo */
/* background: linear-gradient(90deg, #00a5bd, #00b1b1, #00bda5); */
